<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add items to a list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel='Stylesheet' href='public/style.css' /> -->
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <h1>Lists items to your list</h1>

      <div class="listing">

        <% results.forEach(ele => { %>
      <div class="list-div">
        <p class="title"><%= ele.name %></p>
      <p class="contant"><%= ele.content %></p>
      </div>
      <div class="btn-div">
        <a href="/delete/<%= ele._id %>" class="delete">Delete</button>
      <a href="/update/<%= ele._id %>" class="update">Update</button>
      </div>
      <% }) %>
      </div>

    </div>
  </body>
</html>
